body {
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(6, 6, 169);
}

#list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: auto;
  text-decoration: none;
  list-style: none;
  font-size: 22px;
  font-weight: bold;
  align-items: center;
  margin-top: 3px;
  margin-bottom: 3px;
}
#nav_bar {
  justify-self: flex-start;
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  background-color: rgb(53, 53, 253);
  color: aliceblue;
}
/* #option_log {
  width: 25%;
  position: absolute;
  top: 72%;
  list-style: none;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-left: 0;
}

#option_log li i {
  text-decoration: none;
  color: black;
  font-size: 35px;
} */

#icon {
  font-size: 70px;
  color: black;
}

#register_link {
  cursor: pointer;
}
#register_link:hover {
  color: rgb(240, 145, 21);
  font-size: 25px;
  text-decoration-line: underline;
  text-underline-offset: 3px;
  transition-duration: 0.4s;
}

#about_link {
  cursor: pointer;
}

#about_link:hover {
  color: rgb(240, 145, 21);
  font-size: 25px;
  text-decoration-line: underline;
  text-underline-offset: 3px;
  transition-duration: 0.4s;
}

#contact_link {
  cursor: pointer;
}

#contact_link:hover {
  color: rgb(240, 145, 21);
  font-size: 25px;
  text-decoration-line: underline;
  text-underline-offset: 3px;
  transition-duration: 0.4s;
}
#help_link {
  cursor: pointer;
}

#help_link:hover {
  color: rgb(240, 145, 21);
  font-size: 25px;
  text-decoration-line: underline;
  text-underline-offset: 3px;
  transition-duration: 0.4s;
}

#errorMsg {
  background-color: rgb(216, 21, 21);
  padding: 5px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
}

/* #form_div {
  margin-top: 50%;
  height: fit-content;
  width: 40%;
} */

#reg_form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 50%;
  background-color: rgb(53, 53, 253);
  padding: 25px;
  border-radius: 8px;
}

.inside_form_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
}
#password {
  font-size: 20px;
  margin-top: 5px;
}
#email {
  font-size: 20px;
  margin-top: 5px;
}

#userName {
  font-size: 20px;
  margin-top: 5px;
}

#reg_btn {
  font-size: 20px;
  margin-top: 5px;
  background-color: green;
  font-weight: bold;
  text-align: center;
}

#btn_icon {
  margin-left: 8px;
  font-size: 25px;
}
